body {
	margin: 0;
	text-align: center;
}
header h1 {
	font-variant: small-caps;
	margin-bottom: 0;
	margin-top: 100px;
}
header p {
	margin-top: 10px;
	color: red;
}
span {
	font-style: italic;
}
header {
	margin-bottom: 80px;
	display: -ms-flexbox;
	display: flex;
}
.intro {
	font-size: 15px;
	line-height: 1.5;
}
.info {
	margin-top: 50px;
	margin-bottom: 200px;
	border: 1px yellow solid;
}
